<h1>Đăng nhập</h1>
<% if (error.length) { %>
<div class="alert alert-danger text-center">
	<%= error %>
</div>
<% } %>
<% if (success.length) { %>
<div class="alert alert-success text-center">
	<%= success %>
</div>
<% } %>
<form action="/login" method="POST">
	<div class="form-group">
		<input type="text" name="email" class="form-control" placeholder=" ">
		<label>Email <span>*</span></label>
	</div>
	<div class="form-group">
		<input type="password" name="password" class="form-control" placeholder=" ">
		<label>Password <span>*</span></label>
	</div>
	<div class="form-group">
		<button class="btn-login">Đăng nhập</button>
		<div class="login-width">
			<a href="/google/redirect" class="btn btn-danger mt-2">Đăng nhập với Google</a>
			<a href="/lost-password" class="btn btn-primary">Quên mật khẩu</a>
		</div>
	</div>
</form>
