<h1>Tìm lại mật khẩu</h1>
<% if (msgError.length) { %>
<div class="alert alert-danger">
	<%= msgError %>
</div>
<% } %>
<% if (msgSuccess.length) { %>
<div class="alert alert-success">
	<%= msgSuccess %>
</div>
<% } %>
<form action="/lost-password" method="POST">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="" name="email">
		<label class="d-block mb-3">
			Email <span>*</span>
		</label>
	</div>
	<div class="form-group">
		<button class="btn-login">Lấy lại mật khẩu</button>
		<div class="login-width">
			<a href="/google/redirect" class="btn btn-danger">Đăng nhập với Google</a>
			<a href="/login" class="btn btn-primary">Đăng nhập</a>
		</div>
	</div>
</form>
