<h1>Tìm lại mật khẩu</h1>
<% if (msgError.length) { %>
<div class="alert alert-danger">
  <%= msgError %>
</div>
<% } %>
<% if (msgSuccess.length) { %>
<div class="alert alert-success">
  <%= msgSuccess %>
</div>
<% } %>
<form action="/lost-password" method="POST">
  <label class="d-block mb-3">
    Email
    <input type="text" class="form-control" placeholder="Nhập email" name="email">
  </label>
  <div class="d-grid">
    <button class="btn btn-success">Lấy lại mật khẩu</button>
  </div>
</form>