<h1>Thay đổi mật khẩu</h1>
<form action="/reset-password" method="POST">
  <input type="text" hidden name="token" value="<%= token %>">
  <label class="d-block mb-3">
    Mật khẩu mới
    <input type="text" class="form-control" placeholder="Nhập mật khẩu mới" name="password">
  </label>
  <div class="d-grid">
    <button class="btn btn-success">Đổi mật khẩu</button>
  </div>
</form>