<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Google meet</title>
        <link rel="stylesheet" href="/admin/css/meet.css">
    </head>
    <body>
        <div class="container"><%- body %></div>
        <script src="/admin/js/livestream.js" type="module"></script>
    </body>
</html>
