<form class="room">
    <h1>RS MEET</h1>
    <input type="text" name="room" placeholder="Nhập zoom" />
    <button>Vào ngay</button>
</form>

<div class="content-container">
    <div class="video-chat-container">
        <div class="room-main">
            <video class="local-video" id="local-video"></video>
        </div>
        <div class="room-action">
            <button class="mute">Mute</button>
            <button class="hide-camera">Hide Camera</button>
            <button class="leave-room">Leave Room</button>
            <button class="share-screen">Share screen</button>
        </div> 
    </div>
</div>
