<h1>Welcome to CMS</h1>
<div id="active-user-container"></div>
<video id="videoCall"></video>
<video id="remote-video"></video>
<div id="talking-with-info"></div>
<video id="screenShare" width="500"></video>
<div class="share"></div>