<% if (value) { %>
<span class="status status-success">Kích hoạt</span>
<a href="/api/<%= item.name %>" target="_blank">API</a>
<% }else{ %>
<span class="status status-danger">Không kích hoạt</span>
<% } %>