@use './r8/variable' as *;
@use 'variable' as *;
@use 'mixins' as *;

body {
    font-family: 'Open Sans', sans-serif;
    color: $colorText;
}

ul li button,
ul li a {
    transition: 300ms ease-in-out;
    transition-property: color;

    &:hover {
        color: #1677ff !important;
    }
}

.menu-admin {
    background: $colorBackground;
    height: 100vh;
    overflow: auto;
    box-shadow: 1px 0px 2px 0 rgba(0, 0, 0, 0.03),
        1px 0px 6px -1px rgba(0, 0, 0, 0.02), 1px 0px 4px 0 rgba(0, 0, 0, 0.02);

    aside {
        padding: 0 16px;
    }

    ul {
        li {
            a {
                padding: 8px 0;
                display: block;
                color: $colorText;

                &.active {
                    color: #1677ff;
                }
            }
        }
    }
}

.header-main-admin {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
        0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);

    .notification {
        cursor: pointer;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    .user-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
        }

        .name {
            font-weight: bold;
        }

        ul:hover,
        &:hover ul {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        ul {
            z-index: 9999;
            position: absolute;
            top: 120%;
            min-width: 200px;
            right: 0;
            background: $colorBackground;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            padding: 0 4px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 300ms ease-in-out;
            transition-property: opacity, visibility, pointer-events;

            &::before {
                content: '';
                position: absolute;
                height: 30px;
                top: -30px;
                right: 0;
                width: 100%;
                background: transparent;
            }

            li {
                button,
                a {
                    cursor: pointer;
                    display: block;
                    background: none;
                    width: 100%;
                    border: none;
                    padding: 6px 12px;
                    color: $colorText;
                    text-align: left;
                    font-size: 16px;
                }

                &:nth-last-of-type(1) a {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }

                + li {
                    border-top: 1px solid white;
                }
            }
        }
    }
}

footer {
    height: 40px;
    padding-top: 20px;
}

.paginate {
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
    gap: 10px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        border: 1px solid #ebebeb;
        min-height: 40px;
        border-radius: 6px;
        color: $colorText;
        transition: 300ms ease-in-out;
        transition-property: color, background, border-color, fill, font-weight;
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover,
        &.active {
            color: white;
            background: $colorSuccess;
            border: 1px solid $colorSuccess;
            font-weight: bold;
            fill: white;
        }
    }
}

// Done css

// CSS TABLE
.table-data {
    position: relative;
}
.table:not(.permission) {
    background: #e6f4ff;
    border-radius: 6px;
    tbody {
        tr:has(input:checked) {
            background-color: #7feaad;
        }
        tr:hover {
            background-color: #99caf1;
        }
    }
    tr {
        label {
            position: relative;
            width: 14px;
            height: 14px;
            display: block;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 2px;
            margin: 0 auto;
            transition: 200ms;
            transition-property: box-shadow, border-color, background-color;
            &.not-full {
                background-color: #1677ff90;
                border-color: #1677ff;
                box-shadow: 0 0 3px 5px #1677ff50;
                &::after {
                    content: '';
                    width: 12px;
                    border-radius: 6px;
                    height: 2px;
                    background: white;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
            &:hover,
            &:has(input:checked) {
                border-color: #1677ff;
                box-shadow: 0 0 3px 5px #1677ff50;
                background-color: #1677ff90;
                &::before {
                    border-color: white;
                }
            }
            &:hover {
                background-color: transparent;
                &::before {
                    border-color: #ebebeb;
                }
            }

            &::before {
                content: '';
                height: 5px;
                width: 8px;
                transition: border-color 200ms;
                border: 2px solid transparent;
                border-top: none;
                border-right: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -80%) rotate(-50deg);
            }
        }
    }
}

.main {
    padding: 0 1rem;
    height: calc(100vh - 60px - 40px - 36px);
    overflow: auto;
    max-height: calc(100vh - 60px - 40px - 36px);
}

.header-view {
    position: sticky;
    top: 0px;
    padding: 10px 0;
    background: white;
    z-index: 2;
}

// END:CSS TABLE

//FIELD
//IMAGE
.image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    span {
        img {
            width: 160px;
            height: 160px;
            object-fit: scale-down;
        }
    }

    .image-form-action {
        display: flex;
        gap: 10px;
    }
}

.image-table {
    img {
        object-fit: scale-down;
    }
}

//END: IMAGE

// CSS BTN
.filter {
    display: flex;
    gap: 10px;
    .btn-filter {
        display: flex;
        white-space: nowrap;
        align-items: center;
        gap: 10px;
        svg {
            fill: white;
            width: 16px;
            height: 16px;
        }
    }
    .search-form {
        position: relative;
        display: flex;
        input {
            width: 100%;
            border-radius: 6px;
            border: 1px solid #cacaca;
            padding: 10px 35px 10px 15px;
        }
        @include focusInput();
        svg {
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            position: absolute;
            width: 14px;
            height: 14px;
            fill: #cacaca;
        }
    }
    .sort-show-filter {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        select {
            padding: 5px;
            height: 100%;
            border: 1px solid #ebebeb;
            border-radius: 6px;
            margin-left: 10px;
        }
    }
    .checkbox-action {
        &[disabled] {
            opacity: 0.5;
        }
        button {
            height: -webkit-fill-available;
        }
        position: relative;
        &.show {
            ul {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
            }
        }
        ul {
            min-width: 100px;
            border-radius: 6px;
            position: absolute;
            left: 110%;
            background: white;
            top: 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(20px);
            box-shadow: 0 1px 2px;
            transition: 300ms;
            overflow: hidden;
            transition-property: visibility, transform, opacity, pointer-events;
            li {
                padding: 8px 10px;
                cursor: pointer;
                &:hover {
                    color: white;
                    background-color: $colorDanger;
                }
            }
        }
    }
}

// Filter box
.filter-box {
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 300ms ease-in;
    transition-property: visibility, pointer-events, opacity;
    form {
        position: relative;
        z-index: 1;
        padding: 15px;
        background: white;
        height: 100vh;
        display: block;
        transition: transform 300ms ease-in;
        transform: translateX(100%);
        overflow: auto;
        .actions {
            position: sticky;
            bottom: -15px;
            background: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .overlay {
        flex: 1;
        inset: 0;
        background: #00000030;
        transition: transform 300ms ease-in;
        transform: translateX(-100%);
        cursor: pointer;
    }
    .filter-item {
        display: flex;
        gap: 10px;
        margin-bottom: 12px;
        input,
        select {
            padding: 8px 12px;
            border-radius: 6px;
            outline: none;
            border: 1px solid #ebebeb;
            height: 100%;
        }
        button {
            svg {
                width: 16px;
                fill: white;
            }
        }
    }
    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        form {
            transform: initial;
        }
        .overlay {
            transform: initial;
        }
    }
}

.cms-loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    opacity: 1;
    background-image: linear-gradient(
        90deg,
        #ff0000,
        #ffff00,
        #00ff00,
        #00ffff,
        #0000ff,
        #ff00ff,
        #ff0000
    );
    background-size: 200% 100%;
    transition: opacity 300ms, visibility 300ms;
    opacity: 0;
    visibility: hidden;
    &.show {
        animation: background-loading 1.5s linear infinite;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes background-loading {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
