@use './r8/variable' as *;
@use 'variable' as *;
@use 'mixins' as *;
@use 'fonts' as *;
@use './admin/setting' as *;

:root {
    --color-main: #5549be;
    --color-main-90: #5549be90;
    --color-main-80: #5549be80;
    --color-main-70: #5549be70;
    --color-main-60: #5549be60;
    --color-main-50: #5549be50;
    --color-orange: #fc7f52;
    --color-body: #f8f8f9;
    --color-box: #ffffff;
    --color-text: #232323;
    --color-green: #56ab79;
    --color-blue: #1f63b1;
    --color-blue-light: #ecf7ff;
    --color-main-light: #f6f5ff;
    --color-orange-light: #fff9f5;
    --color-red: #f18d83;
    --main-bg-color: #dbdeef;

    --padding-main: 32px;
    --border-radius-main: 25px;
    --padding-menu: 20px;
}

*,
textarea,
option,
select,
a,
button,
input,
body {
    font-family: 'Nunito', sans-serif !important;
    color: $colorText;
    font-size: 16px;
}

ul li button,
ul li a {
    transition: 300ms ease-in-out;
    transition-property: color;

    &:hover {
        color: var(--color-main) !important;
    }
}
main {
    padding: var(--padding-main);
    background: linear-gradient(
        90deg,
        var(--main-bg-color) 0%,
        var(--color-main-light) 100%
    );
    background-size: 200% 100%;
    height: 100vh;
    overflow: hidden;
    animation: 10s background-loading infinite linear alternate;
}

.main-container {
    border-radius: var(--border-radius-main);
    background: var(--color-body);
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 32px * 2);
    @include shadow();
}

.main-content {
    overflow-x: hidden;
    max-width: calc(100% - 200px);
    flex: 1;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: relative;
    height: 60px;
    @include shadow();
    .logo {
        font-size: 0;
        img {
            border-radius: 6px;
            @include shadow();
            height: 40px;
            object-fit: contain;
        }
    }
}

.toggle-sidebar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    right: 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        fill: white;
        width: 16px;
        height: 16px;
    }
}

.menu-admin {
    border-top-left-radius: var(--border-radius-main);
    border-bottom-left-radius: var(--border-radius-main);
    flex-basis: 200px;
    background: var(--color-box);
    height: calc(100vh - var(--padding-main) * 2);
    @include shadow();

    aside {
        position: relative;
    }

    ul {
        overflow: auto;
        height: calc(
            100vh - var(--padding-main) * 2 - 60px - var(--padding-menu) * 2
        );
        padding: var(--padding-menu) 0;
        li {
            a {
                padding: 8px 16px;
                display: block;
                color: var(--color-text);
                font-weight: 600;
                &.active {
                    color: var(--color-main) !important;
                }
            }
        }
    }
}

.header-main-admin {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    @include shadow();

    .notification {
        cursor: pointer;
    }

    svg {
        width: 20px;
        height: 20px;
    }

    .user-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }

        .name {
            font-weight: bold;
        }

        ul:hover,
        &:hover ul {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        ul {
            z-index: 9999;
            position: absolute;
            top: 120%;
            min-width: 200px;
            right: 0;
            background: var(--color-main-light);
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            padding: 0 4px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 300ms ease-in-out;
            transition-property: opacity, visibility, pointer-events;

            &::before {
                content: '';
                position: absolute;
                height: 30px;
                top: -30px;
                right: 0;
                width: 100%;
                background: transparent;
            }

            li {
                button,
                a {
                    cursor: pointer;
                    display: block;
                    background: none;
                    width: 100%;
                    border: none;
                    padding: 6px 12px;
                    color: $colorText;
                    text-align: left;
                    font-size: 16px;
                }

                &:nth-last-of-type(1) a {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }

                + li {
                    border-top: 1px solid white;
                }
            }
        }
    }
}

footer {
    height: 40px;
    padding-top: 20px;
}

.paginate {
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
    gap: 10px;
    span,
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
        border: 1px solid #ebebeb;
        min-height: 40px;
        border-radius: 6px;
        color: $colorText;
        transition: 300ms ease-in-out;
        transition-property: color, background, border-color, fill, font-weight;
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover,
        &.active {
            color: white;
            background: var(--color-main);
            border: 1px solid var(--color-main);
            font-weight: bold;
            fill: white;
        }
    }
}

// Done css

// CSS TABLE
.table-data {
    position: relative;
    background: var(--color-box);
    padding: 12px;
    border-radius: 6px;
    @include shadow();
}
.table:not(.permission) {
    background: var(--color-box);
    border-radius: 6px;
    tbody {
        tr:has(input:checked) {
            background-color: var(--color-blue-light);
        }
        tr:hover {
            background-color: var(--color-main-50);
        }
    }
    tr {
        label {
            position: relative;
            width: 14px;
            height: 14px;
            display: block;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 2px;
            margin: 0 auto;
            transition: 200ms;
            transition-property: box-shadow, border-color, background-color;
            &.not-full {
                background-color: var(--color-main-90);
                border-color: var(--color-main);
                box-shadow: 0 0 3px 5px var(--color-main-50);
                &::after {
                    content: '';
                    width: 12px;
                    border-radius: 6px;
                    height: 2px;
                    background: white;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
            &:hover,
            &:has(input:checked) {
                border-color: var(--color-main);
                box-shadow: 0 0 3px 5px var(--color-main-50);
                background-color: var(--color-main-90);
                &::before {
                    border-color: white;
                }
            }
            &:hover {
                background-color: transparent;
                &::before {
                    border-color: #ebebeb;
                }
            }

            &::before {
                content: '';
                height: 5px;
                width: 8px;
                transition: border-color 200ms;
                border: 2px solid transparent;
                border-top: none;
                border-right: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -80%) rotate(-50deg);
            }
        }
    }
}

.main {
    padding: 0 1rem;
    height: calc(100vh - 60px - 40px - 36px - var(--padding-main) * 2);
    overflow: auto;
    max-height: calc(100vh - 60px - 40px - 36px - var(--padding-main) * 2);
}

.header-view {
    position: sticky;
    top: 0px;
    padding: 12px;
    background: var(--color-box);
    @include shadow();
    border-radius: 6px;
    z-index: 2;
}

// END:CSS TABLE

//FIELD
//IMAGE
.image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    span {
        img {
            width: 160px;
            height: 160px;
            object-fit: scale-down;
        }
    }

    .image-form-action {
        display: flex;
        gap: 10px;
    }
}

.image-table {
    img {
        object-fit: scale-down;
    }
}

//END: IMAGE

// CSS BTN
.filter {
    background-color: var(--color-box);
    display: flex;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    @include shadow();
    .btn-filter {
        display: flex;
        white-space: nowrap;
        align-items: center;
        gap: 10px;
        svg {
            fill: white;
            width: 16px;
            height: 16px;
        }
    }
    .search-form {
        position: relative;
        display: flex;
        input {
            width: 100%;
            border-radius: 6px;
            border: 1px solid #cacaca;
            padding: 10px 35px 10px 15px;
        }
        @include focusInput();
        svg {
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            position: absolute;
            width: 14px;
            height: 14px;
            fill: #cacaca;
        }
    }
    .sort-show-filter {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        select {
            padding: 5px;
            height: 100%;
            border: 1px solid #ebebeb;
            border-radius: 6px;
            margin-left: 10px;
        }
    }
    .checkbox-action {
        &[disabled] {
            opacity: 0.5;
        }
        button {
            height: -webkit-fill-available;
        }
        position: relative;
        &.show {
            ul {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
            }
        }
        ul {
            min-width: 100px;
            border-radius: 6px;
            position: absolute;
            left: 110%;
            background: white;
            top: 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(20px);
            @include shadow();
            transition: 300ms;
            overflow: hidden;
            transition-property: visibility, transform, opacity, pointer-events;
            li {
                padding: 8px 10px;
                cursor: pointer;
                &:hover {
                    color: white;
                    background-color: $colorDanger;
                }
            }
        }
    }
}

// Filter box
.filter-box {
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 300ms ease-in;
    transition-property: visibility, pointer-events, opacity;
    form {
        position: relative;
        z-index: 1;
        padding: 15px;
        background: white;
        height: calc(100vh - var(--padding-main) * 2);
        display: block;
        transition: transform 300ms ease-in;
        transform: translateX(100%);
        overflow: auto;
        .actions {
            position: sticky;
            bottom: -15px;
            background: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .overlay {
        flex: 1;
        inset: 0;
        background: #00000030;
        transition: transform 300ms ease-in;
        transform: translateX(-100%);
        cursor: pointer;
    }
    .filter-item {
        display: flex;
        gap: 10px;
        margin-bottom: 12px;
        input,
        select {
            padding: 8px 12px;
            border-radius: 6px;
            outline: none;
            border: 1px solid #ebebeb;
            height: 100%;
        }
        button {
            svg {
                width: 16px;
                fill: white;
            }
        }
    }
    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        form {
            transform: initial;
        }
        .overlay {
            transform: initial;
        }
    }
}

.cms-loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    opacity: 1;
    background-image: linear-gradient(
        90deg,
        #ff0000,
        #ffff00,
        #00ff00,
        #00ffff,
        #0000ff,
        #ff00ff,
        #ff0000
    );
    background-size: 200% 100%;
    transition: opacity 300ms, visibility 300ms;
    opacity: 0;
    visibility: hidden;
    &.show {
        animation: background-loading 1.5s linear infinite;
        opacity: 1;
        visibility: visible;
    }
}
.form-group {
    padding: 6px;
    border-radius: 6px;
    background-color: var(--color-box);
    @include shadow();
    label {
        font-weight: 600;
    }
}
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-main-light);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 300ms ease;
    &:hover {
        background-color: var(--color-main);
    }
}

@keyframes background-loading {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
