@use './r8/variable' as *;
@use 'variable' as *;
@use 'mixins' as *;
@use 'fonts' as *;
@use './admin/setting' as *;

// RESET
*,
textarea,
option,
select,
a,
button,
input,
body {
    font-family: 'Nunito', sans-serif !important;
    color: $colorText;
    font-size: 16px;
    vertical-align: middle;
}

input[type='checkbox'] {
    accent-color: var(--color-main);
}

ul li button,
ul li a {
    transition: 300ms ease-in-out;
    transition-property: color, background-color;
    &:hover {
        background-color: var(--color-main-20) !important;
        color: var(--color-main) !important;
        span {
            color: var(--color-main) !important;
        }
    }
}

// ALL
main {
    padding: var(--padding-main);
    background: linear-gradient(
        90deg,
        var(--main-bg-color) 0%,
        var(--color-main-light) 100%
    );
    background-size: 200% 100%;
    height: 100vh;
    overflow: hidden;
    animation: 10s background-loading infinite linear alternate;
}

.main-container {
    border-radius: var(--border-radius-main);
    background: var(--color-body);
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 32px * 2);
    @include shadow();
}

// HEADER MENU
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: relative;
    height: var(--height-header);
    @include shadow();
    .logo {
        font-size: 0;
        img {
            border-radius: 6px;
            @include shadow();
            height: 40px;
            object-fit: contain;
        }
    }
}
// BUTTON TOGGLE SMALL MENU
.toggle-sidebar {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 0;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 1px solid var(--color-main);
    transition: 300ms ease-in-out;
    transition-property: background-color, transform;
    &:hover {
        background-color: var(--color-body);
        svg {
            fill: var(--main-color);
        }
    }
    svg {
        transition: fill 300ms ease-in-out;
        fill: white;
        width: 16px;
        height: 16px;
    }
}

// MENU
.menu-admin {
    border-top-left-radius: var(--border-radius-main);
    border-bottom-left-radius: var(--border-radius-main);
    min-width: 200px;
    background: var(--color-box);
    height: calc(100vh - var(--padding-main) * 2);
    @include shadow();

    aside {
        position: relative;
    }
    aside {
        > ul {
            overflow: auto;
            height: calc(
                100vh - var(--padding-main) * 2 - var(--height-header) -
                    var(--padding-menu)
            );
            li {
                &:has(.active) {
                    .collapse-menu {
                        @include backgroundGradient();
                    }
                }
                position: relative;
                div,
                a {
                    padding: 8px 8px 8px 16px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    span {
                        color: var(--color-text);
                        font-weight: 600;
                    }
                    &.active {
                        @include backgroundGradient();
                        span {
                            color: var(--color-main) !important;
                        }
                    }
                }
                ul {
                    position: relative;
                    padding-left: 24px;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 24px;
                        top: 0;
                        width: 1px;
                        height: calc(100% - 10px);
                        @include backgroundGradient();
                        animation: background-loading 1.5s linear infinite;
                    }

                    li {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            width: 8px;
                            border-radius: 50%;
                            height: 8px;
                            z-index: 1;
                            background: var(--color-box);
                            border: 1px solid var(--color-main-60);
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%) translateX(-50%);
                            width: 4px;
                            border-radius: 50%;
                            height: 4px;
                            z-index: 1;
                            @include backgroundGradient();
                            border: 1px solid var(--color-main-60);
                        }
                        &:has(.active) {
                            &::before {
                                background: var(--color-main);
                            }
                            &::after {
                                background: var(--color-box);
                                box-shadow: 0 0 0 0.2rem var(--color-main-70);
                            }
                        }
                    }
                }
            }
        }
    }

    .link-icon {
        svg {
            width: var(--svg-icon-menu);
            height: var(--svg-icon-menu);
        }
    }
}
// CSS MENU
.collapse-menu {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 8px 8px 16px;
    position: relative;
    cursor: pointer;
    &.hidden {
        + ul {
            transition: max-height 0.5s ease-in-out;
            max-height: 0;
            overflow: hidden;
        }
    }
    .collapse-svg {
        svg {
            width: var(--svg-icon-menu);
            height: var(--svg-icon-menu);
        }
    }
    i {
        position: absolute;
        bottom: 0;
        right: 8px;
        padding: 5px;
        cursor: pointer;
        svg {
            transition: 300ms ease-in-out;
            width: 14px;
            height: 14px;
        }
    }
}

// HEADER MAIN
.header-main-admin {
    height: var(--height-header);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    @include shadow();

    .notification {
        cursor: pointer;
    }

    svg {
        width: 20px;
        height: 20px;
    }

    .user-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;

        img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }

        .name {
            font-weight: bold;
        }

        ul:hover,
        &:hover ul {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        ul {
            z-index: 9999;
            position: absolute;
            top: 120%;
            min-width: 200px;
            right: 0;
            background: var(--color-main-light);
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            padding: 0 4px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: 300ms ease-in-out;
            transition-property: opacity, visibility, pointer-events;

            &::before {
                content: '';
                position: absolute;
                height: 30px;
                top: -30px;
                right: 0;
                width: 100%;
                background: transparent;
            }

            li {
                button,
                a {
                    cursor: pointer;
                    display: block;
                    background: none;
                    width: 100%;
                    border: none;
                    padding: 6px 12px;
                    color: $colorText;
                    text-align: left;
                    font-size: 16px;
                }

                &:nth-last-of-type(1) a {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }

                + li {
                    border-top: 1px solid white;
                }
            }
        }
    }
}

// MIDDLE
.main-content {
    overflow-x: hidden;
    max-width: calc(100% - 200px);
    flex: 1;
}

.main {
    padding: 0 1rem;
    height: calc(
        100vh - var(--height-header) - 40px - 36px - var(--padding-main) * 2
    );
    overflow: auto;
    max-height: calc(
        100vh - var(--height-header) - 40px - 36px - var(--padding-main) * 2
    );
}

//PAGINATE
.paginate {
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
    gap: 10px;
    span,
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        border: 1px solid #ebebeb;
        min-height: 32px;
        border-radius: 6px;
        color: $colorText;
        transition: 300ms ease-in-out;
        transition-property: color, background, border-color, fill, font-weight;
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover,
        &.active {
            color: white;
            background: var(--color-main);
            border: 1px solid var(--color-main);
            font-weight: bold;
            fill: white;
        }
    }
}

// FOOTER
footer {
    height: 40px;
    padding-top: 20px;
}

// CSS TABLE
.table-data {
    position: relative;
    background: var(--color-box);
    padding: 12px;
    border-radius: 6px;
    @include shadow();
}
.table:not(.permission) {
    background: var(--color-box);
    border-radius: 6px;
    tbody {
        tr:has(input:checked) {
            background-color: var(--color-blue-light);
        }
        tr:hover {
            background-color: var(--color-main-50);
        }
    }
    tr {
        label {
            position: relative;
            width: 14px;
            height: 14px;
            display: block;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 2px;
            margin: 0 auto;
            transition: 200ms;
            transition-property: box-shadow, border-color, background-color;
            &.not-full {
                background-color: var(--color-main-90);
                border-color: var(--color-main);
                box-shadow: 0 0 3px 5px var(--color-main-50);
                &::after {
                    content: '';
                    width: 12px;
                    border-radius: 6px;
                    height: 2px;
                    background: white;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
            &:hover,
            &:has(input:checked) {
                border-color: var(--color-main);
                box-shadow: 0 0 3px 5px var(--color-main-50);
                @include backgroundGradient();
                &::before {
                    border-color: white;
                }
            }
            &:hover {
                background-color: transparent;
                &::before {
                    border-color: #ebebeb;
                }
            }

            &::before {
                content: '';
                height: 5px;
                width: 8px;
                transition: border-color 200ms;
                border: 2px solid transparent;
                border-top: none;
                border-right: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -80%) rotate(-50deg);
            }
        }
    }
}

.header-view {
    position: sticky;
    top: 0px;
    padding: 12px;
    background: var(--color-box);
    @include shadow();
    border-radius: 6px;
    z-index: 2;
}

// END:CSS TABLE

//FIELD
//IMAGE
.image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 16px;

    span {
        img {
            width: 160px;
            height: 160px;
            object-fit: scale-down;
            border-radius: 6px;
            @include shadow();
        }
    }

    .image-form-action {
        display: flex;
        gap: 10px;
    }
}

.image-table {
    img {
        object-fit: scale-down;
    }
}

.table-view-icon {
    width: 32px;
    height: 32px;
    display: block;
    svg,
    img {
        width: 100%;
        height: 100%;
    }
}

//END: IMAGE

// CSS BTN
.filter {
    background-color: var(--color-box);
    display: flex;
    gap: 10px;
    padding: 12px;
    border-radius: 8px;
    @include shadow();
    .btn-filter {
        display: flex;
        white-space: nowrap;
        align-items: center;
        gap: 10px;
        svg {
            fill: white;
            width: 16px;
            height: 16px;
        }
    }
    .search-form {
        position: relative;
        display: flex;
        input {
            width: 100%;
            border-radius: 6px;
            border: 1px solid #cacaca;
            padding: 4px 35px 4px 16px;
        }
        @include focusInput();
        svg {
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            position: absolute;
            width: 14px;
            height: 14px;
            fill: #cacaca;
        }
    }
    .sort-show-filter {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        select {
            padding: 5px;
            height: 100%;
            border: 1px solid #ebebeb;
            border-radius: 6px;
            margin-left: 10px;
        }
    }
    .checkbox-action {
        &[disabled] {
            opacity: 0.5;
        }
        button {
            height: -webkit-fill-available;
        }
        position: relative;
        &.show {
            ul {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
                transform: translateY(0);
            }
        }
        ul {
            min-width: 100px;
            border-radius: 6px;
            position: absolute;
            left: 110%;
            background: white;
            top: 0;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(20px);
            @include shadow();
            transition: 300ms;
            overflow: hidden;
            transition-property: visibility, transform, opacity, pointer-events;
            li {
                padding: 8px 10px;
                cursor: pointer;
                &:hover {
                    color: white;
                    background-color: $colorDanger;
                }
            }
        }
    }
}

// Filter box
.filter-box {
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 300ms ease-in;
    transition-property: visibility, pointer-events, opacity;
    form {
        position: relative;
        z-index: 1;
        padding: 15px;
        background: white;
        height: calc(100vh - var(--padding-main) * 2);
        display: block;
        transition: transform 300ms ease-in;
        transform: translateX(100%);
        overflow: auto;
        .actions {
            position: sticky;
            bottom: -15px;
            background: white;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .overlay {
        flex: 1;
        inset: 0;
        background: #00000030;
        transition: transform 300ms ease-in;
        transform: translateX(-100%);
        cursor: pointer;
    }
    .filter-item {
        display: flex;
        gap: 10px;
        margin-bottom: 12px;
        input,
        select {
            padding: 8px 12px;
            border-radius: 6px;
            outline: none;
            border: 1px solid #ebebeb;
            height: 100%;
        }
        button {
            svg {
                width: 16px;
                fill: white;
            }
        }
    }
    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        form {
            transform: initial;
        }
        .overlay {
            transform: initial;
        }
    }
}
// LOADING
.cms-loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    opacity: 1;
    background-image: linear-gradient(
        90deg,
        #ff0000,
        #ffff00,
        #00ff00,
        #00ffff,
        #0000ff,
        #ff00ff,
        #ff0000
    );
    background-size: 200% 100%;
    transition: opacity 300ms, visibility 300ms;
    opacity: 0;
    visibility: hidden;
    &.show {
        animation: background-loading 1.5s linear infinite;
        opacity: 1;
        visibility: visible;
    }
}
// FORM GROUP
.form-group {
    padding: 12px;
    border-radius: 6px;
    background-color: var(--color-box);
    @include shadow();
    label {
        font-weight: 600;
    }
}

[role='button'] {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    align-items: center;
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-main-60);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 300ms ease;
    &:hover {
        background-color: var(--color-main);
    }
}

// Small Menu
body.menu-small {
    main {
        padding-left: calc(var(--padding-main) + var(--width-sidebar-small));
    }
    .main-container {
        position: relative;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .menu-admin {
        min-width: initial;
        position: absolute;
        width: var(--width-sidebar-small);
        left: calc(0px - var(--width-sidebar-small));
        .link-text {
            display: none;
        }
        aside {
            ul {
                direction: rtl;
                display: flex;
                flex-direction: column;
                gap: 6px;
                overflow: auto;
                li {
                    .link {
                        justify-content: center;
                    }
                    div,
                    a {
                        padding: 8px;
                        &.active {
                            @include backgroundGradient();
                        }
                    }
                }
            }

            .collapse-menu {
                justify-content: center;
                padding: 8px;
                &.hidden {
                    + ul {
                        max-height: initial;
                        overflow: initial;
                    }
                }
                i {
                    display: none;
                }
                .collapse-text {
                    display: none;
                }
                + ul {
                    direction: initial;
                    --width-ul: 240px;
                    position: fixed;
                    transform: translate(100%, -40px);
                    z-index: 99;
                    min-width: var(--width-ul);
                    background: var(--color-box);
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    margin-left: 0;
                    display: none;
                    &.show {
                        display: block;
                    }
                    @include shadow();
                    &::after {
                        display: none;
                    }
                    li {
                        + li {
                            margin: 0;
                        }
                        div,
                        a {
                            margin-left: 20px;
                            padding: 8px 12px;
                            justify-content: stretch;
                            .link-text {
                                display: block;
                            }
                        }
                        &::after,
                        &::before {
                            left: 20px;
                        }
                    }
                }
            }
        }
    }

    .main-content {
        max-width: 100%;
    }

    .toggle-sidebar {
        transform: scaleX(-1) translate(-50%, -50%);
    }
}
