@use 'variable' as *;
// @use 'feels' as *;
.chat-box-admin {
    position: fixed;
    bottom: 15px;
    right: 15px;

    .show-chat-box {
        padding: 10px;
        border-radius: 6px;
        border: none;
        background: $colorBackgroundChat;
        cursor: pointer;
        fill: white;
        svg {
            height: 24px;
            width: 24px;
        }
    }
    .chat-content-header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        align-items: center;
        padding: 5px 6px;
        border-bottom: 1px solid #ebebeb;
        button {
            border: none;
            background: none;
            cursor: pointer;
            display: flex;
            transition: 300ms ease;
            transition-property: background;
            padding: 5px;
            border-radius: 6px;
            svg {
                fill: $colorBackgroundChat;
                width: 20px;
                height: 20px;
                transition: 300ms ease;
                transition-property: fill;
            }
            &:hover {
                background: $colorBackgroundChat;
                svg {
                    fill: #ebebeb;
                }
            }
        }
    }
    .chat-content {
        button {
            transition: 300ms ease;
            transition-property: background;
            background: none;
            fill: $colorBackgroundChat;
            &:hover {
                background: $colorButtonChat;
            }
        }
        transform-origin: right bottom;
        transition: 300ms;
        transition-property: transform, pointer-events, visibility;
        transform: scale(0);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        position: absolute;
        width: 25vw;
        height: 50vh;
        min-width: 330px;
        min-height: 420px;
        border: 1px solid #ebebeb;
        border-radius: 6px;
        bottom: 0;
        background: white;
        right: 0;
        display: flex;
        flex-direction: column;
        &.show {
            transform: scale(1);
            opacity: 1;
            pointer-events: all;
            visibility: visible;
        }
        .message {
            padding: 12px;
            flex: 1;
            overflow: auto;
            .item-message {
                display: flex;
                justify-content: flex-start;
                gap: 6px;
                align-items: center;
                &:has(.feel) {
                    margin-bottom: 20px;
                }
                .message-body {
                    display: flex;
                    max-width: 70%;
                    padding: 8px 12px;
                    word-break: break-all;
                    border-radius: 25px;
                    align-items: center;
                    position: relative;
                    .feel {
                        position: absolute;
                        bottom: -15px;
                        right: 2px;
                        background: white;
                        border: 1px solid #ebebeb;
                        border-radius: 50%;
                        font-size: 16px;
                    }
                }
            }
            .right,
            .left {
                margin-bottom: 6px;

                .avatar {
                    width: 32px;
                    height: 32px;
                    img {
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    background: linear-gradient(
                        #ff8fb2,
                        #a797ff,
                        #00e5ff,
                        #00c3ff
                    );
                    color: white;
                    &-feel {
                        font-size: 32px;
                    }
                }
                .action-content {
                    display: flex;
                    gap: 16px;
                    button {
                        height: 24px;
                        border: none;
                        width: 24px;
                        border-radius: 6px;
                        cursor: pointer;
                        padding: 5px;
                    }
                }
            }
            .right {
                justify-content: flex-end;
                &:not(:has(+ .left)):has(+ .right):nth-of-type(1) .content {
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 6px;
                }
                &:has(+ .right) .content {
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
                &:has(+ .right) + .right:not(:has(+ .right)) .content,
                &:has(+ .right)
                    + .right:not(:has(+ .left))
                    + .right:not(:has(+ .right))
                    .content {
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 25px;
                }
                &:not(:has(+ .right)):has(+ .left)
                    + .left:has(+ .left)
                    .content {
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 6px;
                }
            }
            .left {
                &:not(:has(+ .left)):has(+ .right)
                    + .right:has(+ .rightp)
                    .content {
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 6px;
                }
                &:not(:has(+ .right)):has(+ .left):nth-of-type(1) .content {
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 6px;
                }
                &:has(+ .left) .content {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }
                &:has(+ .left) + .left:not(:has(+ .left)) .content,
                &:has(+ .left)
                    + .left:not(:has(+ .right))
                    + .left:not(:has(+ .left))
                    .content {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 25px;
                }
                &:not(:has(+ [class*='right'])),
                &:not(:has(+ [class*='left'])) {
                    border-radius: 25px !important;
                }
            }
        }
        .form-chat {
            border-top: 1px solid #ebebeb;
            padding: 6px;
            display: flex;
            gap: 10px;
            align-items: flex-end;
            width: 100%;
            .action-plus {
                position: relative;
                &.hidden {
                    display: none;
                }
                .action-sub-menu {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transition: 300ms ease;
                    transition-property: opacity, visibility, pointer-events;
                    bottom: 40px;
                    background: white;
                    padding: 10px;
                    width: 200px;
                    border-radius: 6px;
                    border-bottom-right-radius: 0;
                    filter: drop-shadow(2px 4px 1px rgba(0, 0, 0, 0.1));
                    &.active {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        li {
                            button {
                                display: flex;
                                align-items: center;
                                width: 100%;
                                svg {
                                    flex-basis: 40px;
                                }
                            }
                        }
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        border-width: 10px;
                        border-color: white transparent transparent white;
                        border-style: solid;
                        border-top-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        bottom: -14px;
                        left: 6px;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 17px;
                        bottom: -17px;
                        left: 0;
                        background: transparent;
                    }
                }
                // position: relative;
                // .actions{
                //     position: absolute;
                // }
            }
            .actions {
                transition: 300ms ease;
                transition-property: width;
                display: flex;
                gap: 10px;
                &.hidden {
                    display: none;
                }
                button {
                    position: relative;
                    border: none;
                }
            }
            .text-chat {
                position: relative;
                flex: 1;
                max-width: calc(100% - 72px);
                transition: max-width 300ms;
                transform-origin: center;
                .editor-chat-container {
                    position: relative;
                    background: #f7f7f7;
                    border: 1px solid $colorBackgroundChat;
                    border-radius: 20px;

                    .editor-chat {
                        width: 100%;
                        padding: 5px 10px 5px 12px;
                        position: relative;
                        max-height: 150px;
                        overflow: auto;
                        max-width: calc(100% - 30px);
                        line-height: 1;
                    }
                    .placeholder {
                        position: absolute;
                        left: 13px;
                        bottom: 4px;
                        color: #cbcbcb;
                        user-select: none;
                        visibility: visible;
                        pointer-events: none;
                        opacity: 1;
                        &.hidden {
                            visibility: hidden;
                            pointer-events: none;
                            opacity: 0;
                        }
                    }
                    &:has(.box-upload-image) {
                        border-top: none;
                        border-top-left-radius: initial;
                        border-top-right-radius: initial;
                    }
                    .box-upload-image {
                        position: absolute;
                        bottom: 100%;
                        font-size: 0;
                        left: -1px;
                        padding: 12px;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        display: flex;
                        gap: 6px;
                        background: #f7f7f7;
                        z-index: 1;
                        border: 1px solid #b37feb;
                        border-bottom: none;
                        align-items: center;
                        width: calc(100% + 2px);
                        overflow: hidden;
                        * {
                            user-select: none;
                        }
                        .btn-add-file-message {
                            position: relative;
                            width: 48px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            svg {
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .list-image-add {
                            display: flex;
                            gap: 6px;
                            .item-image-add {
                                img {
                                    width: 48px;
                                    height: 48px;
                                    object-fit: scale-down;
                                }
                            }
                        }
                        &::-webkit-scrollbar {
                            display: none;
                        }
                    }
                }
                button {
                    border-radius: 50%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    bottom: 2px;
                    right: 2px;
                }
            }
            button {
                padding: 5px;
                cursor: pointer;
                border-radius: 6px;
                border: none;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

.sticker-box {
    position: fixed;
    background: white;
    border-radius: 6px;
    border: 1px solid $colorBackgroundChat;
    transition: transform 200ms ease;
    &.hidden {
        transform: scale(0);
    }
    .tab-sticker-box {
        display: flex;
        border-bottom: 2px solid $colorButtonChat;
        .tab-item {
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: 2px solid $colorButtonChat;
            cursor: pointer;
        }
    }
    .sticker-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 240px;
        overflow: auto;
        width: 332px;
        &::-webkit-scrollbar {
            width: 6px;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background: $colorButtonChat;
            transition: background 300ms ease;
            &:hover {
                background: $colorBackgroundChat;
            }
        }
        .emoji {
            cursor: pointer;
        }
    }
}

.chat-box-admin * {
    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: $colorButtonChat;
        transition: background 300ms ease;
        &:hover {
            background: $colorBackgroundChat;
        }
    }
}

.scroll-custom {
    position: fixed;
    height: 12px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.05);
    transition: background 300ms ease;
    padding: 2px 0;
    user-select: none;
    &:hover {
        background: $colorButtonChat;
        .scroll-bar {
            border-color: $colorBackgroundChat;
        }
    }
    .scroll-bar {
        transition: border-color 300ms ease;
        background: transparent;
        position: absolute;
        height: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: calc(100% - 4px);
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        cursor: move;
        user-select: none;
    }
}
// Feels
