* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.room-main{
    display: flex;
    justify-content: center;
}
.room-action{
    display: none;
    justify-content: center;
}

.remote-video,
.local-video {
    max-width: 100%;
    max-height: calc(100vh);
    object-fit: scale-down;
    margin: auto;
}

.local-video {
    transform: scaleX(-1);
}
