<div class="form-group mb-3">
    <label class="d-block mb-1"><%= field.label %></label>
    <div>
        <%- field.data.printTreeChoose(field.data.tree, field.keyChild,
        field.keyValue, field.keyLabel, field.name, 0, req.old[field.name] ??
        data[field.modelAs].map((x) => { return x.dataValues[field.modelKey]; })
        ?? [], 'label') %>
    </div>
</div>