@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Black.ttf");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Italic.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/fonts/Nunito/Nunito-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Nunito", sans-serif !important;
  color: #322C2B;
}

textarea,
option,
select,
a,
button,
input,
* {
  font-family: "Nunito", sans-serif !important;
}

ul li button,
ul li a {
  transition: 300ms ease-in-out;
  transition-property: color;
}
ul li button:hover,
ul li a:hover {
  color: #1677ff !important;
}

.menu-admin {
  background: #e6f4ff;
  height: 100vh;
  overflow: auto;
  box-shadow: 1px 0px 2px 0 rgba(0, 0, 0, 0.03), 1px 0px 6px -1px rgba(0, 0, 0, 0.02), 1px 0px 4px 0 rgba(0, 0, 0, 0.02);
}
.menu-admin aside {
  padding: 0 16px;
}
.menu-admin ul li a {
  padding: 8px 0;
  display: block;
  color: #322C2B;
}
.menu-admin ul li a.active {
  color: #1677ff;
}

.header-main-admin {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
.header-main-admin .notification {
  cursor: pointer;
}
.header-main-admin svg {
  width: 24px;
  height: 24px;
}
.header-main-admin .user-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.header-main-admin .user-dropdown img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
.header-main-admin .user-dropdown .name {
  font-weight: bold;
}
.header-main-admin .user-dropdown ul:hover, .header-main-admin .user-dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header-main-admin .user-dropdown ul {
  z-index: 9999;
  position: absolute;
  top: 120%;
  min-width: 200px;
  right: 0;
  background: #e6f4ff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0 4px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 300ms ease-in-out;
  transition-property: opacity, visibility, pointer-events;
}
.header-main-admin .user-dropdown ul::before {
  content: "";
  position: absolute;
  height: 30px;
  top: -30px;
  right: 0;
  width: 100%;
  background: transparent;
}
.header-main-admin .user-dropdown ul li button,
.header-main-admin .user-dropdown ul li a {
  cursor: pointer;
  display: block;
  background: none;
  width: 100%;
  border: none;
  padding: 6px 12px;
  color: #322C2B;
  text-align: left;
  font-size: 16px;
}
.header-main-admin .user-dropdown ul li:nth-last-of-type(1) a {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.header-main-admin .user-dropdown ul li + li {
  border-top: 1px solid white;
}

footer {
  height: 40px;
  padding-top: 20px;
}

.paginate {
  margin-top: 10px;
  justify-content: flex-end;
  display: flex;
  gap: 10px;
}
.paginate a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  border: 1px solid #ebebeb;
  min-height: 40px;
  border-radius: 6px;
  color: #322C2B;
  transition: 300ms ease-in-out;
  transition-property: color, background, border-color, fill, font-weight;
}
.paginate a svg {
  width: 16px;
  height: 16px;
}
.paginate a:hover, .paginate a.active {
  color: white;
  background: #52c41a;
  border: 1px solid #52c41a;
  font-weight: bold;
  fill: white;
}

.table-data {
  position: relative;
}

.table:not(.permission) {
  background: #e6f4ff;
  border-radius: 6px;
}
.table:not(.permission) tbody tr:has(input:checked) {
  background-color: #7feaad;
}
.table:not(.permission) tbody tr:hover {
  background-color: #99caf1;
}
.table:not(.permission) tr label {
  position: relative;
  width: 14px;
  height: 14px;
  display: block;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0 auto;
  transition: 200ms;
  transition-property: box-shadow, border-color, background-color;
}
.table:not(.permission) tr label.not-full {
  background-color: rgba(22, 119, 255, 0.5647058824);
  border-color: #1677ff;
  box-shadow: 0 0 3px 5px rgba(22, 119, 255, 0.3137254902);
}
.table:not(.permission) tr label.not-full::after {
  content: "";
  width: 12px;
  border-radius: 6px;
  height: 2px;
  background: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.table:not(.permission) tr label:hover, .table:not(.permission) tr label:has(input:checked) {
  border-color: #1677ff;
  box-shadow: 0 0 3px 5px rgba(22, 119, 255, 0.3137254902);
  background-color: rgba(22, 119, 255, 0.5647058824);
}
.table:not(.permission) tr label:hover::before, .table:not(.permission) tr label:has(input:checked)::before {
  border-color: white;
}
.table:not(.permission) tr label:hover {
  background-color: transparent;
}
.table:not(.permission) tr label:hover::before {
  border-color: #ebebeb;
}
.table:not(.permission) tr label::before {
  content: "";
  height: 5px;
  width: 8px;
  transition: border-color 200ms;
  border: 2px solid transparent;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) rotate(-50deg);
}

.main {
  padding: 0 1rem;
  height: calc(100vh - 60px - 40px - 36px);
  overflow: auto;
  max-height: calc(100vh - 60px - 40px - 36px);
}

.header-view {
  position: sticky;
  top: 0px;
  padding: 10px 0;
  background: white;
  z-index: 2;
}

.image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.image-form span img {
  width: 160px;
  height: 160px;
  object-fit: scale-down;
}
.image-form .image-form-action {
  display: flex;
  gap: 10px;
}

.image-table img {
  object-fit: scale-down;
}

.filter {
  display: flex;
  gap: 10px;
}
.filter .btn-filter {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 10px;
}
.filter .btn-filter svg {
  fill: white;
  width: 16px;
  height: 16px;
}
.filter .search-form {
  position: relative;
  display: flex;
}
.filter .search-form input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #cacaca;
  padding: 10px 35px 10px 15px;
}
.filter .search-form input {
  transition: 200ms ease-in-out;
  transition-property: box-shadow, border-color;
}
.filter .search-form input:focus {
  border-color: #1677ff;
  box-shadow: 0 0 2px 5px rgba(22, 119, 255, 0.3137254902);
}
.filter .search-form input:focus + svg {
  fill: #1677ff;
}
.filter .search-form svg {
  transition: fill 200ms ease-in-out;
}
.filter .search-form svg {
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  position: absolute;
  width: 14px;
  height: 14px;
  fill: #cacaca;
}
.filter .sort-show-filter {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.filter .sort-show-filter select {
  padding: 5px;
  height: 100%;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  margin-left: 10px;
}
.filter .checkbox-action {
  position: relative;
}
.filter .checkbox-action[disabled] {
  opacity: 0.5;
}
.filter .checkbox-action button {
  height: -webkit-fill-available;
}
.filter .checkbox-action.show ul {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.filter .checkbox-action ul {
  min-width: 100px;
  border-radius: 6px;
  position: absolute;
  left: 110%;
  background: white;
  top: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(20px);
  box-shadow: 0 1px 2px;
  transition: 300ms;
  overflow: hidden;
  transition-property: visibility, transform, opacity, pointer-events;
}
.filter .checkbox-action ul li {
  padding: 8px 10px;
  cursor: pointer;
}
.filter .checkbox-action ul li:hover {
  color: white;
  background-color: #ff4d4f;
}

.filter-box {
  overflow: hidden;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 300ms ease-in;
  transition-property: visibility, pointer-events, opacity;
}
.filter-box form {
  position: relative;
  z-index: 1;
  padding: 15px;
  background: white;
  height: 100vh;
  display: block;
  transition: transform 300ms ease-in;
  transform: translateX(100%);
  overflow: auto;
}
.filter-box form .actions {
  position: sticky;
  bottom: -15px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.filter-box .overlay {
  flex: 1;
  inset: 0;
  background: rgba(0, 0, 0, 0.1882352941);
  transition: transform 300ms ease-in;
  transform: translateX(-100%);
  cursor: pointer;
}
.filter-box .filter-item {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}
.filter-box .filter-item input,
.filter-box .filter-item select {
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ebebeb;
  height: 100%;
}
.filter-box .filter-item button svg {
  width: 16px;
  fill: white;
}
.filter-box.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.filter-box.show form {
  transform: initial;
}
.filter-box.show .overlay {
  transform: initial;
}

.cms-loading {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  opacity: 1;
  background-image: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
  background-size: 200% 100%;
  transition: opacity 300ms, visibility 300ms;
  opacity: 0;
  visibility: hidden;
}
.cms-loading.show {
  animation: background-loading 1.5s linear infinite;
  opacity: 1;
  visibility: visible;
}

@keyframes background-loading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}