<div class="<%= field.class ?? 'col-3' %> setting-item">
  <div class="form-group mb-3">
    <input class="form-control" type="text" name="<%= field._id %>" value="<%= field.content ?? '' %>" placeholder=" ">
    <label><%= field.name %></label>
  </div>
</div>