<div class="<%= field.class ?? 'col-3' %> setting-item">
  <div class="form-group mb-3">
    <textarea class="form-control" name="<%= field._id %>" placeholder=" "><%= field.content ?? '' %></textarea>
    <label><%= field.name %></label>
  </div>
</div>