@use 'variable' as *;

.btn {
    padding: 4px 12px;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: filter 300ms ease-in-out;

    &:hover {
        filter: brightness(1.1);
    }

    &-success {
        background: var(--color-main);
    }

    &-danger {
        background: var(--color-orange);
    }

    &-warning {
        background: $colorWarning;
        color: black;
    }
    
    &-primary {
        background: $colorPrimary;
    }

    &-filter{
        background: brown;
    }
}