@use '../mixins' as *;
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-in-out;
    transition-property: visibility, opacity;
    &-overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &-container {
        max-height: 80vh;
        overflow: auto;
        position: relative;
        z-index: 1;
        background: white;

        border-radius: 6px;
        max-width: 500px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .modal-body {
        padding: 10px;
    }
    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
        border-bottom: 1px solid var(--color-main-60);
        margin-bottom: 20px;
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
    }
    .modal-footer {
        margin-top: 20px;
        border-top: 1px solid var(--color-main-60);
        padding: 12px 12px;
        display: flex;
        justify-content: flex-end;
        gap: 12px;
        position: sticky;
        bottom: 0;
        z-index: 1;
        background: white;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    [data-btn-close]{
        span{
            color: var(--color-box);
            font-weight: bold;
        }
    }
}
.modal,
.settings {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    summary {
        background: #515050;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 6px;
        color: white;
    }
    .form-group:not(.image) {
        position: relative;
        .form-select,
        .form-control {
            border: 1px solid var(--color-main-60);
            border-radius: 6px;
            width: 100%;
            padding: 10px 12px;
            outline: none;
            background: white;
        }
    
        input {
            &:-internal-autofill-selected {
                background-color: white !important;
                color: red;
            }
        }
    
        + .form-group {
            margin-top: 1.5rem;
        }
    
        label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            transition: 300ms ease-in-out;
            transition-property: top, left, background-color, color, font-size;
            border-radius: 6px;
            color: var(--color-main-60);
            span {
                color: red;
            }
        }
    
        .form-select {
            &:has(option[value]:checked) + label {
                top: 5px;
                left: 20px;
                background-color: white;
                font-size: 13px;
                color: #1d1d1d;
            }
        }
    
        .form-control {
            &:focus,
            &:not(:placeholder-shown),
            &:-webkit-autofill {
                & + label {
                    top: 5px;
                    left: 20px;
                    background-color: white;
                    font-size: 13px;
                    color: #1d1d1d;
                }
            }
        }
        &:focus-within {
            label {
                top: 5px;
                    left: 20px;
                background-color: white;
                color: #1d1d1d;
                font-size: 13px;
            }
        }
    }
    .setting-sidebar {
        flex-basis: 200px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                cursor: pointer;
                color: var(--color-main-60);
                border: 1px solid var(--color-main-60);
                border-radius: 6px;
                transition: color 300ms ease-in-out,
                    border-color 300ms ease-in-out;
                    padding: 5px;
                &.active,
                &:hover {
                    color: var(--color-main);
                    border-color: var(--color-main);
                }
            }
        }
    }
    .setting-tab {
        position: relative;
        flex: 1;
        &__container{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: 300ms ease-in-out;
            transition-property: opacity, visibility, transform;
            transform: translateY(30px);
            &.active{
                z-index: 1;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
            h3{
                font-size: 1.25rem;
                margin-bottom: 20px;
                @include backgroundGradient('bold');
                padding: 8px 12px;
                color: white;
                border-radius: 6px;
            }
        }
    }
    

}
